:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --paragraph-font-size: .875rem;

  --font-light: 400;
  --font-medium: 600;
  --font-heavy: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--eggshell);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 39rem;
  background-color: var(--white);
  padding: 2rem;
  margin: 10rem auto;
  border-radius: 20px;
  font-family: "Outfit", sans-serif;
  color: var(--wenge-brown);
}

h1,
h3,
h4,
h5 {
  font-family: "Young Serif", serif;
}

h1 {
  color: var(--dark-charcoal);
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

h2 {
  color: var(--dark-raspberry);
}

h3,
h4,
h5 {
  color: var(--nutmeg);
}

h3,
h4,
h5 {
  font-size: 1.5rem;
  font-weight: var(--font-light);
}

main img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 10px;
}

.header-paragraph {
  font-size: var(--paragraph-font-size);
}

.prep {
  background-color: var(--rose-white);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.prep h2 {
  font-size: 1.125rem;
}

.prep ul li {
  margin: 0.5rem 0 0.5rem 1.5rem;
  font-size: var(--paragraph-font-size);
  padding-left: .9375rem;
}

.prep ul li:last-of-type {
  margin: 0.5rem 0 0rem 1.5rem;
}

.prep ul li span {
  font-weight: var(--font-heavy);
}

.ingredients {
  margin: 0 0 1rem 0;
}

.ingredients h3 {
  margin: 0 0 1rem 0;
}

.ingredients ul li {
  margin: 0.5rem 0 0.5rem 1.7rem;
  font-size: var(--paragraph-font-size);
  padding-left: .625rem;
}

.ingredients ul li::marker {
  font-weight: var(--font-heavy);
  color: var(--nutmeg);
}

hr {
  border: 0px;
  border-top: 1px solid var(--light-grey);
}

.instructions {
  margin: 1rem 0 1rem 0;
}

.instructions h4 {
  margin: 0 0 1rem 0;
}

.instructions ol li {
  margin: 0.75rem 0 0.75rem 1.7rem;
  font-size: var(--paragraph-font-size);
  padding-left: .625rem;
}

.instructions ol li::marker {
  font-weight: var(--font-heavy);
  color: var(--nutmeg);
  font-family: "Outfit", sans-serif;
}

.instructions ol li span {
  font-weight: var(--font-heavy);
}

.nutrition h5 {
  margin: 1.5rem 0 1rem 0;
}

.nutrition p {
  font-size: var(--paragraph-font-size);
  margin: 0 0 1rem 0;
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition table tr td {
  padding: 0.5rem;
  font-weight: var(--font-medium);
}

.nutrition table tr {
  border-bottom: 1px solid var(--light-grey);
}

.nutrition table tr:last-child {
  border-bottom: 0px;
}

.nutrition table tr td:nth-child(1) {
  font-weight: var(--font-medium);
  padding-left: 2rem;
  width: 50%;
}

.nutrition table tr td:nth-child(2) {
  color: var(--nutmeg);
  font-weight: var(--font-medium);
}

@media screen and (max-width: 26.5625rem) {

  main {
    margin: 0;
    border-radius: 0;
    padding: 1.5rem;
  }

  main img {
    width: calc(100% + 3rem);
    height: 10rem;
    object-fit: cover;
    border-radius: 0;
    margin: -1.5rem -1.5rem 0 -1.5rem;
  }

}